

.status-publish{
  display: inline-block;
}


.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    float: left;
    width: 100%;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: right;
    width: 100%;
}

@mixin isMedium{
  .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
      float: left;
      width: 58%;
  }
  .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
      float: right;
      width: 37%;
  }

}

.woocommerce div.product form.cart .variations {
    margin-bottom: 1em;
    border: 0;
    width: 100%;
    margin-top: 1rem;
}


.woocommerce div.product p.price, .woocommerce div.product span.price {
    font-size: .9rem;
    color: #757575;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #333;
    font-size: .8rem;
    border-radius: 0;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    display: block;
}

.woocommerce div.product form.cart div.quantity {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

/*.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {

    float: none !important;
}*/

.woocommerce ul.products li.product .button {
  display: none;

}

.woocommerce .quantity .qty {
    width: 6rem;
    text-align: center;
    line-height: 3;
    margin-top: 1rem;
}

.product_meta{
  display: none;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 25%;
    display: inline-block;
    padding: .5rem .5rem .4rem 0.0rem;
}

.woocommerce .cart .button, .woocommerce .cart input.button {

    font-size: .8rem;
    line-height: 1.4rem;
}




.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background-color: #515151;
    color: #fff;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: whitesmoke;
    border-radius: 5px;
}
#add_payment_method #payment ul.payment_methods li, .woocommerce-cart #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li {
    display: block;
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
    background-color: #f9f9f9;
    color: #515151;
}
#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
    content: '';
    display: block;
    border: 1em solid #f9f9f9;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -.75em;
    left: 0;
    margin: -1em 0 0 2em;
}

.woocommerce button.button.alt.disabled{
  background-color: #333;
}
.woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover{
  background-color: #333;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
    border: solid 1px #ab0000;
}
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
    border: solid 1px #69bf29;
}
.woocommerce form .form-row .select2-container {
    border: solid 0px !important;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    line-height: 1.2;
    height: 2rem;
    padding: 10px;
}
.select2-results__option {
    display: block;
}

#add_payment_method #payment div.form-row, .woocommerce-cart #payment div.form-row, .woocommerce-checkout #payment div.form-row {
    background-color: white;
}
.woocommerce-info {
    border-top-color: #ffffff;
    margin-bottom: 0px;
}
.woocommerce img, .woocommerce-page img {
    display: inline-block;
    width: auto;
}
.woocommerce-message {
    border-top-color: transparent;
}
.woocommerce-message::before {
    content: '\e015';
    color: #8ad4c5;
    margin-top: 3px;
}
.wc-forward{
  font-weight: 600 !important;
    text-transform: uppercase;
    font-size: .8rem !important;
}

.return-to-shop{
  margin-bottom: 12rem;
}

.cart-empty, .return-to-shop{
  text-align: center;
}

.woocommerce ul.products li.product .price {
    color: #757575;
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: .857em;
}


#coupon_code{
  line-height: 1.5rem;
  min-width: 6rem;
}


.product_type_variable{
  display: none !important;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 100%;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    float: none;
    width: 100%;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    line-height: 1.2;
    height: 2rem;
    padding-left: 10px;
    border: solid 1px #d0caca;
}

#order_comments{
  height: 50px;
}

.woocommerce-MyAccount-navigation li:first-child{
  margin-left: 0px;
}

.is-active{
  font-weight: bold;
}

.woocommerce-account .woocommerce-MyAccount-content {
    float: none;
    width: 85%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.woocommerce div.product {
    display: inline-block;
    width: 100%;

}

.woocommerce-product-details__short-description li{
  width: 100%;
  display: list-item;
  list-style: disc;

}
.woocommerce-product-details__short-description ul{
  padding-left: 2rem;
  font-size: .9rem;
}
